In [ ]:
Q1). Create a list called years_list, starting with the year of your birth, and each year
thereafter until the year of your fifth birthday. For example, if you were born in 1980. 
the list would be years_list = [1980, 1981, 1982, 1983, 1984, 1985].

In [3]:
years_list = list(range(2001,2007))
years_list

[2001, 2002, 2003, 2004, 2005, 2006]

In [ ]:
Q2). In which year in years_list was your third birthday? Remember, you were 0 years of age
for your first year.

In [4]:
years_list[3]

2004

In [ ]:
Q3). In the years list, which year were you the oldest?

In [5]:
years_list[-1]

2006

In [ ]:
Q4). Make a list called things with these three strings as elements:
    "mozzarella", "cinderella", "salmonella"

In [6]:
things=[ "mozzarella", "cinderella", "salmonella"]
things

['mozzarella', 'cinderella', 'salmonella']

In [ ]:
Q5). Capitalize the element in things that refers to a person and then print the list.
Did it change the element in the list?

In [7]:
## No it did not change the element in the list
things[1].capitalize
print(things)

['mozzarella', 'cinderella', 'salmonella']

In [ ]:
Q6). Make a surprise list with the elements "Groucho," "Chico," and "Harpo."

In [8]:
surprise=["Groucho", "Chico", "Harpo"]
surprise

['Groucho', 'Chico', 'Harpo']

In [ ]:
Q7). Lowercase the last element of the surprise list, reverse it, and then capitalize it.

In [9]:
surprise[-1].lower()[::-1].capitalize()

'Oprah'

In [ ]:
Q8). Make an English-to-French dictionary called e2f and print it. Here are your starter
words: dog is chien, cat is chat, and walrus is morse.

In [10]:
e2f={'dog':'chien','cat':'chat','walrus':'morse'}
print(e2f)

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

In [ ]:
Q9). Write the French word for walrus in your three-word dictionary e2f.

In [11]:
e2f['walrus']

'morse'

In [ ]:
Q10). Make a French-to-English dictionary called f2e from e2f. Use the items method

In [13]:
f2e=dict()
for i in e2f.items():
    f2e.update({i[1]:i[0]})
print(f2e)

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

In [ ]:
Q11). Print the English version of the French word chien using f2e.

In [14]:
f2e['chien']

'dog'

In [ ]:
Q12). Make and print a set of English words from the keys in e2f.

In [15]:
eng_words=set(e2f.keys())
eng_words

{'cat', 'dog', 'walrus'}

In [ ]:
Q13). Make a multilevel dictionary called life. Use these strings for the topmost keys:
    'animals', 'plants', and 'other'. Make the 'animals' key refer to another dictionary 
    with the keys 'cats', 'octopi', and 'emus'. Make the 'cats' key refer to a list of 
    strings with the values 'Henri', 'Grumpy', and 'Lucy'. Make all the other keys refer
    to empty dictionaries.

In [16]:
life={'animals':{'cats':['Henri', 'Grumpy', 'Lucy'], 'octopi':{}, 'emus':{}}, 'plants':{}, 'other':{}}
life

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {}},
 'plants': {},
 'other': {}}

In [ ]:
Q14). Print the top-level keys of life.

In [17]:
life.keys()

dict_keys(['animals', 'plants', 'other'])

In [ ]:
Q15). Print the keys for life['animals'].

In [18]:
life['animals'].keys()

dict_keys(['cats', 'octopi', 'emus'])

In [ ]:
Q16). Print the values for life['animals']['cats']

In [22]:
life['animals']['cats']

['Henri', 'Grumpy', 'Lucy']