In [ ]:
Q1). Create a function that takes a number as an argument and returns True or False depending
on whether the number is symmetrical or not. A number is symmetrical when it is the same as
its reverse.

In [1]:
def fun1(n):
    rev = 0
    a = n
    while n > 0:
        rev = (rev*10) + (n%10)
        n = n//10
    if rev == a:
        return True
    else:
        return False
fun1(11211)

True

In [2]:
fun1(332331)

False

In [ ]:
Q2). Given a string of numbers separated by a comma and space, return the product of the
numbers.

In [3]:
def multiply_nums(s):
    l = s.split(',')
    for i in range(len(l)):
        l[i] = int(l[i])
    final_result = 1
    for i in range(len(l)):
        final_result *= l[i]
    return final_result

multiply_nums('1,2,4')

8

In [ ]:
Q3). Create a function that squares every digit of a number.

In [4]:
def square_digits(n):
    s = ''
    
    while n > 0:
        
        rev = (n%10)
        rev = rev ** 2
        rev = str(rev)
        s = rev + s
        n = n//10
        
    return int(s)
        
        
    
square_digits(9119)

811181

In [5]:
square_digits(2483)

416649

In [ ]:
Q4) Create a function that sorts a list and removes all duplicate items from it.

In [6]:
def setify(li):
    r = [*set(li)]
    return r

setify([3,3,2,2,5])

[2, 3, 5]

In [7]:
setify([4,4,4,4,2,2,1,1,9])

[1, 2, 4, 9]

In [ ]:
Q5). Create a function that returns the mean of all digits.

In [8]:
def mean(n):
    c = 0
    s = 0
    while n>0:
        res = n%10
        s += res
        c += 1
        n = n//10
    return s/c

mean(42)

3.0

In [9]:
mean(12345)

3.0

In [10]:
mean(666)

6.0